.p-t80{
  padding-top: 80px;
}
.table{
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0px 20px;
    /* border: 1px solid #000; */
}
tr,th,thead,td{
    border: 1px solid #000;
    height: 60px;
    width: 100px;
    text-align: center;
}
.material-icons{
    cursor: pointer;
}
.material-icons:hover{
    color: blue;
}

.nav-link{
    padding-left: 20px;
}

.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    }
    
    .dropdown {
    position: relative;
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
  
    
    .previous {
      text-decoration: none;
      display: inline-block;
      padding: 5px 16px;
      background-color: #0d6efd;
      color: rgb(249, 244, 244);
      border-radius: 10px;
      margin-left: 30px;
    }
    

.login-image{
    width: 100%;
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #f5f2f2;
}

.login-image1{
  text-align: center;
}


* {box-sizing: border-box;}

.desgn {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.desgn:hover .overlay {
  opacity: 1;
}



.page-not-found img {
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .page-not-found {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .page-not-found h1 {
    color: #3b3a39;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 0px 0px 0px 0px;
  }
  
  .page-not-found p {
    color: #808080;
    font-size: 1rem;
    width: 60%;
    text-align: center;
    margin: 5px;
    font-weight: 300;
  }
  
  .page-not-found a {
    color: #637eff;
    font: weight 600;
    text-decoration: underline;
  }
  
  .page-not-found button {
    width: 140px;
    height: 40px;
    margin: 10px;
    background-color: #2f2e41;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    border: none;
    letter-spacing: 1px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    /* background-color: #63ti7eff; */
    transition: all ease 0.3s;
  }
  
  @media (max-width: 900px) {
    .page-not-found img {
      height: 180px;
    }
  
    .page-not-found p {
      width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    .page-not-found {
      width: 100%;
    }
    .page-not-found img {
      height: 120px;
    }
    .page-not-found h1 {
      font-size: 1.4rem;
      text-align: center;
    }
    .page-not-found p {
      width: 90%;
    }
  }
  



  .manage{
    width: 100%;
    height: 100%;
    text-align: center;
    }
    
    .manage{
        width:100%;
        height: auto;
        text-align:left;
    
    }
    
    .mbook{
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 20px;
        /* margin-left: 80px; */
        color: rgb(34, 69, 71);
    }
    .form-group label {
        display: block;
        font-weight: bold;
        margin-left: 2%;
    }
    .form-group input[type="text"],
        .form-group select {
            width: 25%;
            margin-left: 2%;
            height: 40px;
            border: 1px solid #4c39b9;
            border-radius: 5px;
            color: #061d35;
            font-size:medium;
        }
    #desp{
        height: 90px;
    
    }
    .btnn {
        width: 120px;
        margin-top: 20px;
        margin-left:20px;
        margin-bottom: 20px;
        background-color: rgb(9, 9, 101);
        color: #fff;
        border: none;
        padding:15px;
        border-radius:5px;
        cursor: pointer;
        font-weight: bold;
    }
    .btnn:hover {
        background-color: #0056b3;
    }


    .table__head{
      color: #FFF;
      font-weight: 700;
      background: #9b4085;
      background: -moz-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
      background: -webkit-linear-gradient(-45deg, #9b4085 0%,#608590 100%);
      background: linear-gradient(135deg, #9b4085 0%,#608590 100%);
      white-space: nowrap;
      }
      
      .tables {
        --bs-table-color-type: initial;
        --bs-table-bg-type: initial;
        --bs-table-color-state: initial;
        --bs-table-bg-state: initial;
        --bs-table-color: var(--bs-emphasis-color);
        /* --bs-table-bg: var(--bs-body-bg); */
        --bs-table-border-color: var(--bs-border-color);
        --bs-table-accent-bg: transparent;
        --bs-table-striped-color: var(--bs-emphasis-color);
        --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
        --bs-table-active-color: var(--bs-emphasis-color);
        --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
        --bs-table-hover-color: var(--bs-emphasis-color);
        --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
        width: 100%;
        margin-bottom: 1rem;
        vertical-align: top;
        border-color: var(--bs-table-border-color);
    }

    /* Table Title */
.table-tile {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(32, 190, 190);
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 21px -8px black;
}
.table-tile::before {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: rgb(32, 190, 190);
  position: absolute;
  top: 40px;
  left: 50%;
  transform: rotate(45deg);
}

.table-tile h1 {
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 10px;
}